:root {
  --orange: #f55422;
  --dark-blue: #1F2235;
  --white: #ffffff;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-blue);
  width: 100%;
  height: 60px;
}

.navbar .logo {
  width: 100px;
  margin-left: 25px;
}

.navbar .menu {
  width: 40px;
  object-fit: cover;
  margin-right: 25px;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  display: none;
}

.navbar ul li{
  list-style: none;
  display: flex;
}

.navbar ul li a{
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  font-size: var(--md);
  font-weight: bold;
  line-height: 18px;
  padding: 0;
}

.navbar ul li a:hover{
  cursor: pointer;
  color: var(--orange);
}

